@charset "UTF-8";
/* CSS Document */

.container ul{
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

label {color: #fff;}

ul li{
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul label {
	margin-bottom:20px !important;
}

ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  padding: 2px 25px 20px 60px;
  margin: 1px auto;
  height: 16px;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label{
	color: #e2b0ab;
}

ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 0px;
  left: 20px;
	z-index: 1;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

ul li:hover .check {
  border: 5px solid #e2b0ab;
}

ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 18px;
  width: 18px;
  top: -2px;
	left: -2px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #e2b0ab;
}

input[type=radio]:checked ~ .check::before{
  background: #e2b0ab;
}

input[type=radio]:checked ~ label{
  color: #e2b0ab;
}

.btn-rsvp {
	color: #fff;
    background-color: #e2b0ab;
	border-radius:0px;
	padding: 10px 15px;
}

.btn-rsvp:hover {
	background-color: #bb8386;
	color: #fff;
}